---
interface Props {
  post: any;
}

const { frontmatter, file } = Astro.props.post;
const slug = file.split("/").slice(-1).at(0).split(".").at(0);
const { title, description, imgSrc, minutesRead, date } = frontmatter;
---

<a
  href={`/blog/${slug}`}
  class="p-4 bg-background-secondary border-[0.5px] border-tertiary hover:shadow-accent hover:decoration-transparent rounded-lg transition-shadow duration-300"
>
  <div class="h-96 flex flex-col items-center">
    <img src={imgSrc} alt={imgSrc?.split("/").slice(-1).at(-1)} class="w-full h-44 object-cover rounded-lg" />
    <div class="flex flex-col items-center justify-center h-full mx-4 mt-4">
      <div class="flex-1">
        <h1 class="text-center text-2xl line-clamp-1">{title}</h1>
        <p class="text-center text-secondary line-clamp-3">{description}</h1>
      </div>
      <div class="flex items-center justify-center space-x-2 mb-2">
        <p class="font-thin text-tertiary">
          {new Date(date.replace(/-/g, "/")).toLocaleString("en-US", { year: "numeric", month: "short", day: "numeric" })}
        </p>
        <p class="px-1 text-sm font-medium bg-accent/20 text-accent rounded-md">{minutesRead}</p>
      </div>
    </div>
  </div>
</a>
