---
interface Props {
  post: any;
}

const { frontmatter, file } = Astro.props.post;
const slug = file.split("/").slice(-1).at(0).split(".").at(0);
const { title, description, image, published } = frontmatter;
---

<a href={`/blog/${slug}`} class="group nounderline w-full p-4 rounded-lg border border-background-secondary hover:border-border transition-colors duration-500">
  <div class="flex md:space-x-4">
    <img src={image} alt={image} class="hidden sm:block h-32 rounded-lg"/>
    <div>
      <h2 class="text-primary text-2xl font-semibold line-clamp-1" >{title}</h2>
      <p class="text-secondary font-light leading-snug line-clamp-3 my-2">{description}</p>
      <p class="text-sm text-tertiary font-extralight">Published <strong class="text-secondary font-extralight">{new Date(published.replace(/-/g, "/")).toLocaleString("en-US", { year: "numeric", month: "short", day: "numeric" })}</strong></p>
    </div>
  </div>
</div>
