---
interface Props {
  post: any;
}

const { frontmatter, file } = Astro.props.post;
const slug = file.split("/").slice(-1).at(0).split(".").at(0);
const { title, description, imgSrc, minutesRead, date } = frontmatter;
---

<a
  href={`/blog/${slug}`}
  class="p-4 bg-background-secondary border-[0.5px] border-tertiary hover:shadow-accent hover:decoration-transparent rounded-lg transition-shadow duration-300"
>
  <div class="flex flex-col items-center h-96">
    <img
      src={imgSrc}
      alt={imgSrc?.split("/").slice(-1).at(-1)}
      class="object-cover w-full rounded-lg h-44"
    />
    <div class="flex flex-col items-center justify-center h-full mx-4 mt-4">
      <div class="flex-1">
        <h1 class="text-2xl text-center line-clamp-1">{title}</h1>
        <p class="text-center text-secondary line-clamp-3">{description}</p>
      </div>
      <div class="flex items-center justify-center mb-2 space-x-2">
        <p class="font-thin text-tertiary">
          {
            new Date(date.replace(/-/g, "/")).toLocaleString("en-US", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </p>
        <p class="px-1 text-sm font-medium bg-accent/20 text-accent rounded-md">
          {minutesRead}
        </p>
      </div>
    </div>
  </div>
</a>
