---
interface Props {
  post: any;
}

const { frontmatter, file } = Astro.props.post;
const slug = file.split("/").slice(-1).at(0).split(".").at(0);
const { title, description, author, imgSrc, minutesRead, date } = frontmatter;
---

<a
  href={`/blog/${slug}`}
  class="flex items-center w-full h-32 rounded-lg p-2 pr-6 bg-background-secondary border-[0.5px] border-tertiary hover:shadow-accent hover:decoration-transparent transition-shadow duration-300"
>
    <div class="w-full h-full flex items-center space-x-6">
      <img src={imgSrc} class="h-28 w-28 object-cover rounded-lg"/>
      <div class="flex flex-col sm:flex-row sm:items-center justify-center sm:justify-between w-full h-full">
        <div class="max-w-xl">
          <h1 class="leading-tight text-lg sm:text-2xl line-clamp-3 sm:line-clamp-1">{title}</h1>
          <p class="hidden sm:block mt-1 text-secondary font-light leading-snug sm:line-clamp-2">{description}</h1>
        </div>
        <p class="text-sm mt-2 px-1 w-fit font-medium bg-accent/20 text-accent rounded-md">{minutesRead}</p>
      </div>
    </div>
  </div>
</a>
