---
import Badge from "./Badge.astro";
import AuthorList from "./AuthorList.astro";
import type { Frontmatter } from "../utils/types";
interface Props {
  post: any;
  centered?: boolean;
}

const { post, centered }: Props = Astro.props;
const frontmatter: Frontmatter = post.frontmatter;

const slug = post.file.split("/").slice(-1).at(0).split(".").at(0);
---

<a href={`/blog/${slug}`} class="group nounderline rounded-lg">
  <div class="flex flex-col sm:flex-row sm:space-x-10 sm:items-center">
    <div
      class={`w-full h-[200px] max-w-[400px] flex 
      will-change-transform items-center justify-center rounded-lg overflow-hidden object-cover`}
    >
      <img
        src={frontmatter.image.src}
        alt={frontmatter.image.alt}
        class="group-hover:scale-105 transition-transform"
      />
    </div>
    <div class={`flex ${centered ? "flex-1" : ""} flex-col py-6`}>
      <div class="flex space-x-1 items-center">
        <Badge>
          <p class="text-sm uppercase">
            {frontmatter.format}
          </p>
        </Badge>
        <p class="text-tertiary">
          · {
            new Date(frontmatter.published.replace(/-/g, "/")).toLocaleString(
              "en-US",
              {
                year: "numeric",
                month: "long",
                day: "numeric",
              }
            )
          }
        </p>
      </div>
      <h1 class="text-primary text-3xl font-medium leading-snug my-2">
        {frontmatter.title}
      </h1>
      <AuthorList authors={frontmatter.authors} />
    </div>
  </div>
</a>
