---
import Layout from "@layouts/Layout.astro";
import Badge from "@/components/Badge";
import AuthorList from "@/components/AuthorList";
import TagList from "@/components/TagList.astro";

import type { Frontmatter } from "@/utils/types";

const frontmatter: Frontmatter = Astro.props.frontmatter;
---

<Layout
  title={`${frontmatter.title} | AITU`}
  headerTitle={frontmatter.title}
  description={frontmatter.description}
>
  <div class="mt-40 max-w-3xl mx-auto">
    <a href="/blog" class="text-sm text-accent">Back</a>
    <h1 id="title" class="text-3xl sm:text-5xl lg:text-6xl font-medium my-6">
      {frontmatter.title}
    </h1>
    <div class="w-full flex items-center space-x-1 my-2">
      <p class="text-md text-secondary">
        Published
        {
          new Date(frontmatter.published.replace(/-/g, "/")).toLocaleString(
            "en-US",
            {
              year: "numeric",
              month: "long",
              day: "numeric",
            }
          )
        }
      </p>
      <p class="text-md text-secondary">·</p>
      <Badge>
        <p class="text-sm">{frontmatter.minutesRead}</p>
      </Badge>
    </div>
    <AuthorList authors={frontmatter.authors} />
    <article class="my-10">
      <slot />
    </article>
    <TagList tags={frontmatter.tags} />
  </div>
</Layout>
