---
import Layout from "@layouts/Layout.astro";
import Badge from "@/components/Badge";
import AuthorList from "@/components/AuthorList";
import TagList from "@/components/TagList.astro";

import type { Frontmatter } from "@/utils/types";

const frontmatter: Frontmatter = Astro.props.frontmatter;
---

<Layout
  title={`${frontmatter.title} | AITU`}
  headerTitle={frontmatter.title}
  description={frontmatter.description}
  ogImage={frontmatter.ogImage.src}
>
  <div
    id="banner"
    class="absolute top-[160px] w-screen left-1/2 -translate-x-1/2 overflow-y-hidden transition-all duration-500"
  >
    <img
      src={frontmatter.banner.src}
      alt={frontmatter.banner.alt}
      class="w-full h-[400px] object-cover"
    />
  </div>
  <div class="max-w-3xl mx-auto mt-[400px]">
    <div class="py-10">
      <a href="/blog" class="text-sm text-accent">Back</a>
      <h1 id="title" class="my-6 text-3xl font-medium sm:text-4xl lg:text-5xl">
        {frontmatter.title}
      </h1>
      <div class="flex items-center w-full my-2 space-x-1">
        <p class="text-md text-secondary">
          Published
          {
            new Date(frontmatter.published.replace(/-/g, "/")).toLocaleString(
              "en-US",
              {
                year: "numeric",
                month: "long",
                day: "numeric",
              }
            )
          }
        </p>
        <p class="text-md text-secondary">·</p>
        <Badge>
          <p class="text-sm">{frontmatter.minutesRead}</p>
        </Badge>
      </div>
      <AuthorList authors={frontmatter.authors} />
    </div>
    <article class="my-10">
      <slot />
    </article>
    <TagList tags={frontmatter.tags} />
  </div>
</Layout>
