---
import Layout from "./Layout.astro";
import Badge from "../components/Badge.astro";
import Author from "../components/Author.astro";

const { title, description, minutesRead, authors, published } =
  Astro.props.frontmatter;
---

<Layout title={`${title} | AITU`} headerTitle={title} description={description}>
  <div class="mt-40 max-w-3xl mx-auto">
    <a href="/blog" class="text-sm text-accent">Back</a>
    <h1 id="title" class="text-4xl sm:text-5xl lg:text-7xl font-medium my-6">
      {title}
    </h1>
    <div
      id="authors"
      class="flex flex-col sm:flex-row sm:items-center space-y-2 sm:space-y-0 sm:space-x-4"
    >
      {authors.map((author: string) => <Author author={author} />)}
    </div>
    <div class="flex items-center space-x-2 font-thin text-tertiary mt-2">
      <p class="text-sm sm:text-md">
        Published <strong
          >{
            new Date(published.replace(/-/g, "/")).toLocaleString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }</strong
        >
        <p>/</p>
        <Badge>
          <p class="text-xs sm:text-md">{minutesRead}</p>
        </Badge>
      </p>
      <article class="my-10">
        <slot />
      </article>
    </div>
  </div>
</Layout>
